@model List<ReportSelectVM>
@{
    ViewData["Title"] = "SelectReport";
}

<h1>Rapor Görüntüle</h1>

<div class="col-xl-12">
    <div class="card">
        <div class="card-body table-border-style">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-1">Sıra</th>
                            <th class="col-1">Öğrenci Adı</th>
                            <th class="col-1">Öğrenci Soyadı</th>
                            <th class="col-2">Açıklama</th>
                            <th class="col-1">Not</th>
                            <th class="col-2">Tarih</th>
                            <th class="col-1">Hafta</th>
                            <th class="col-1">Aktif Mi</th>
                            <th class="col-2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>@(i + 1)</td>
                                <td>@Model[i].Student.FirstName</td>
                                <td>@Model[i].Student.LastName</td>
                                <td>@Model[i].Description</td>
                                <td>@Model[i].Score</td>
                                <td>@Model[i].Date.ToString("dd.MM.yyyy")</td>
                                <td>@Model[i].WeekOfYear.ToString()."Hafta"</td>
                                <td>@Model[i].isActive</td>
                                <td>
                                    <a asp-controller="Report" asp-action="UpdateReport" asp-route-id="@Model[i].ID"><i style="font-size:large;" class="bi bi-pencil-square text-info"></i></a>
                                    <span style="margin: 0 8px;"></span>
                                    <a href="@Url.Action("DeleteReport", new { id = Model[i].ID })"
                                       onclick="return confirm('Bu öğeyi silmek istediğinizden emin misiniz?');"><i style="font-size:large;" class="bi bi-trash text-danger"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>