@model List<ClassSelectVM>
@{
    ViewData["Title"] = "SelectClass";
}

<h1>SelectClass</h1>


<div class="col-xl-12">
    <div class="card">
        <div class="card-body table-border-style">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-1">Sıra</th>
                            <th class="col-2">Sınıf Adı</th>
                            <th class="col-2">Kapasite</th>
                            <th class="col-2">Başlangıç Tarihi</th>
                            <th class="col-2">Bitiş Tarihi</th>
                            <th class="col-1">Aktif Mi</th>
                            <th class="col-2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>@(i + 1)</td>
                                <td>@Model[i].Name</td>
                                <td>@Model[i].Capacity</td>
                                <td>@Model[i].StartedDate.ToString("dd.MM.yyyy")</td>
                                <td>@Model[i].EndDate.ToString("dd.MM.yyyy")</td>
                                <td>@Model[i].isActive</td>
                                <td>
                                    <a asp-controller="Class" asp-action="UpdateClass" asp-route-id="@Model[i].ID"><i style="font-size:large;" class="bi bi-pencil-square text-info"></i></a>
                                    <span style="margin: 0 8px;"></span>
                                    <a href="@Url.Action("DeleteClass", new { id = Model[i].ID })"
                                       onclick="return confirm('Bu öğeyi silmek istediğinizden emin misiniz?');"><i style="font-size:large;" class="bi bi-trash text-danger"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>