@model StudentSelectVM


<div class="flip-card-inner" style=" border-radius: 15px;">
    <div class="flip-card-front" style=" border-radius: 15px;">

        <div id="flipbutton" class="row">
            <div id="id3" class="col">
                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title=" Haftalık Soru Sayısı">
                    @Model.Question.Count()

                </button>
            </div>
            <div class="col" id="studentName">
                <p>@Model.FirstName @Model.LastName</p>

            </div>
            <div id="id4" class="col">

                <button type="button" class="btn btn-danger" onclick="flipCard(@(Model.ID))">
                    <i class="bi bi-arrow-clockwise"></i>
                </button>
            </div>

        </div>


        <div class="col-md-12" style="max-height: 200px; overflow-y: auto;">

        </div>




    </div>

    <div class="change-content mt-2">
        @for (int j = 1; j <= 5; j++)
        {
            <button class="change-button" onclick="changeContent(@Model.ID, @j)"></button>
        }
    </div>

    @*<div class="btn-group shadow-0" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-secondary" data-mdb-color="dark" data-mdb-ripple-init>Sorular</button>
        <button type="button" class="btn btn-outline-secondary" data-mdb-color="dark" data-mdb-ripple-init>Sınavlar</button>
    </div>*@

    <div class="flip-card-back">

        <div id="flipbutton" class="row">
            <div id="id1" class="col"><p style="color: black">Öğrenci Adı</p></div>
            <div id="id2" class="col">
                <button type="button" class="btn btn-danger" onclick="flipCard(@(Model.ID))">
                    <i class="bi bi-arrow-clockwise"></i>
                </button>

            </div>

        </div>

        <div class="mb-3">
            <label style="color:black" for="exampleInputEmail1" class="form-label">Soru</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text"></div>
        </div>
        <div class="mb-3">
            <label style="color: black" for="exampleFormControlTextarea1" class="form-label">Açıklama</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Ekle</button>



    </div>


</div>


<script>
    function flipCard(index) {
        console.log("deneme");
        var card = document.getElementById('card' + index);
        card.classList.toggle('flipped');
    }

    $('#addFormContainer'+@Model.ID+' form').submit(function (e) {
        e.preventDefault();

        // Get form data
        var formData = {
            Question: $('#QuestionTxt'+@(Model.ID)).val(),
            Description: $('#DescriptionTxt'+@(Model.ID)).val(),
            StudentId: @Model.ID
            // Add more data as needed
        };

        // Perform AJAX request
        $.ajax({
            type: 'POST',
            url: '/Fast/FastStudentManagement', // Update with your actual controller and action names
            data: formData,
            success: function (data) {
                // Handle success (optional)
                showToast();
                flipCard(@Model.ID);
                console.log('Data sent successfully:', data);
            },
            error: function (error) {
                // Handle errors (optional)
                console.error('Error:', error);
            }
        });

        $.ajax({
            type: 'GET',
            url: '/Fast/FastStudentGetDetails', // Update with your actual controller and action names
            data: formData,
            success: function (data) {
                console.log("sa");
                // Handle success (optional)
                $("#card" + @Model.ID).html('');
                $("#card" + @Model.ID).html(data);
            },
            error: function (error) {
                // Handle errors (optional)
                console.error('Error:', error);
            }
        });
    });



</script>
<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>